* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    padding-inline: 3rem;
}

a {
    text-decoration: none;
    color: rgb(66, 255, 255);
}

header {
    background-color: #4b4b4b;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 10px;
}

main {
    padding-block: 2rem;
}

body {
    background-color: #222;
    color: whitesmoke;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    padding-block: 2rem;
}

.card {
    width: 20%;
    background-color: #4b4b4b;
    padding: 1rem;
    border-radius: 5px;
}

.card img {
    width: 100%;
}